<div class="container">
  <div class="row justify-content-start">
    <div class="col-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">月份</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>選取...</option>
          <option value="1">一月</option>
          <option value="2">二月</option>
          <option value="3">三月</option>
          <option value="4">四月</option>
          <option value="5">五月</option>
          <option value="6">六月</option>
          <option value="7">七月</option>
          <option value="8">八月</option>
          <option value="9">九月</option>
          <option value="10">十月</option>
          <option value="11">十一月</option>
          <option value="12">十二月</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">類別</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>選取...</option>
          <option value="1">家居物業</option>
          <option value="2">交通出行</option>
          <option value="3">休閒娛樂</option>
          <option value="4">餐飲食品</option>
          <option value="5">其他</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row justify-content-start">
    <div class="col-3">總金額：</div>
    <div class="col-19 total-mount">
      123
    </div>
  </div>
</div>

<div class="container mt-3">
  <ul class="list-group">
    {{#each records}}
    <div class="row">
      <div class="col-8 decoration-none">
        <a href="/records/{{record.id}}">
          <li class="list-group-item ">
            <div class="row">
              <div class="col-auto">
                <i class="fas fa-home cate-icon "></i>
              </div>

              <div class="col-auto mr-auto mb-1">
                <h4 class="content">{{{this.name}}}</h4><br>
                <small>2019.4.27</small>
              </div>

              <div class="cost mr-1">
                200
              </div>

          </li>
        </a>
      </div>

      <div class="col-4 d-flex align-items-end">
        <div class="col-auto bg-dark">
          <a href="/records/{{{this.id}}}/edit" class="btn btn-success">Edit</a>
          <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  </ul>
</div>

<a href="/records/new" class="btn btn-secondary btn-block mt-5 mb-5">新增項目</a>