<a href="/records/new">Create</a>
<ul>
  {{#each records}}
  <li>
    {{{this.name}}}
    <a href="/records/{{this.id}}">detail</a>
    <a href="#">edit</a>
    <button type="submit">delete</button>
  </li>
  {{/each}}
</ul>