<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <div class="row justify-content-start mb-3">
        <small class="mr-5">*為必填項目</small>
        <h4>請輸入你的支出</h4>
      </div>
      <form action="/records" method="POST">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                名稱*
              </span>
            </div>
            <input type="text" class="form-control" id="name" name="name" value="">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group date mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                日期*
              </span>
            </div>
            <input type='date' class="form-control" name="date" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>


        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                類別*
              </span>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="category">
              <option selected>選取...</option>
              <option value="fa-home">家居物業</option>
              <option value="fa-shuttle-van">交通出行</option>
              <option value="fa-grin-beam">休閒娛樂</option>
              <option value="fa-utensils">餐飲食品</option>
              <option value="fa-pen">其他</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                金額*
              </span>
            </div>
            <input type="text" class="form-control" id="amount" name="amount" value="">
          </div>
        </div>

        <button type="submit" class="btn btn-info float-left mt-2">儲存</button>
      </form>

      <a href="/" class="btn btn-secondary float-right mt-2">取消</a>


    </div>
  </div>
</div>